{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header.html.twig" %}
{% endblock %}

{% block main %}
    <main class="py-5 container">
        <h1>Page de profil</h1>
        
        <h2>Liste des dépenses</h2>
        <a href="index.php?route=addDepense">Créer une dépense</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Montant
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Motif
                    </th>
                    <th>
                        categorie
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for depense in depenses %}
                    <tr>
                        <td>{{ depense.id }}</td>
                        <td>{{ depense.montant }}</td>
                        <td>{{ depense.date }}</td>
                        <td>{{ depense.motif }}</td>
                        <td>{{ depense.categorie.nom }}</td>
                        <td>
                            <a href="index.php?route=showDepense&id={{ depense.id }}" class="btn btn-info"><span class="bi bi-eye"></span></a>
                            <a href="index.php?route=updateDepense&id={{ depense.id }}" class="btn btn-success"><span class="bi bi-pencil"></span></a>
                            <a href="index.php?route=deleteDepense&id={{ depense.id }}" class="btn btn-danger"><span class="bi bi-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Qui doit combien à qui?</h2>
        <a href="index.php?route=addRemboursement">Créer un remboursement</a>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Montant</th>
                    <th>Auteur</th>
                    <th>Receveur</th>
                    <th>Motif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for remboursement in remboursements %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ remboursement.montant }}</td>
                        
                        <td>{{ remboursement.auteur.username }}</td>
                        
                        <td>{{ remboursement.receveur.username }}</td>
                        
                        <td>{{ remboursement.motif }}</td>
                        <td>
                            <a href="index.php?route=showRemboursement&id={{ remboursement.id }}" class="btn btn-info"><span class="bi bi-eye"></span></a>
                            <a href="index.php?route=updateRemboursement&id={{ remboursement.id }}" class="btn btn-success"><span class="bi bi-pencil"></span></a>
                            <a href="index.php?route=deleteRemboursement&id={{ remboursement .id }}" class="btn btn-danger"><span class="bi bi-trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock %}